* {
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    width: 100%;
    padding: 0 ;
    margin: 0 auto;
}

/* HEADER START */
.header-logo-text{
    margin-bottom: 60px;
   /* float: left;*/
}


.header-logo-color{
    color: #4bcaff;
}

.header-logo{
    font-size: 80px;
}

.header-menu{
    background-color: #35444f;
    text-align: center;
    margin-bottom: 50px;
}

.header-menu-button{
    display: inline-block;
    line-height: 70px;
}

.header-menu-button-link{
    padding: 20px 40px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.header-menu-button:hover{
    background-color: #222f3a;
    transition: .5s;
}
/* HEADER END */

/*CONTENT START*/

.left-menu-box{
    height: 352px;
    width: 100%;
    max-width: 340px;
    border:1px solid;
    float: left;
    margin-right: 50px;
}

.left-menu-box-button{
    line-height: 70px;
    padding-left: 40px;
    font-size: 24px;
}

.left-menu-box-button:hover{
    padding-left: 60px;
    background-color: #dbdbdb;
    transition: .5s;
}

.left-menu-box-button-link{
    padding: 18px 0px;
}

.content-box{
    width: 100%;
    max-width: calc(100% - 395px);
    float: right;
    padding: 0px 20px;
}

.content-box-main{
    padding: 70px;
    border: 1px solid;
    margin-bottom: 15px;
}

.content-box-main-img{
    display: block;
    margin: 0 auto;
}

.content-box-text{
    padding: 15px 15px;
    padding-left: 30px;
    padding-right:30px;
    line-height: 1.5;
    font-weight: 600;
    text-align: justify;
}

.clearfix{
    display: block;
    content: "";
    clear: both;
}

/*CONTENT END*/

/*FOOTER START*/

.footer{
background-color: #b4b7ba;
}

.footer-menu{
    float: left;
}

.footer-menu-button{
    display: inline-block;
    line-height: 70px;
}



.footer-menu-button-link{
    padding: 20px 10px;
    font-size: 24px;
}

.footer-menu-button-link:hover{
    color: #3181a6;
    text-decoration: underline;
}

.copyright{
float: right;
line-height: 70px;
padding: 0px 30px;
font-size: 20px;
}

/*FOOTER END*/
